.listTitle {
  margin: 25px auto;
  font-size: 33px;
  font-weight: 500;

  letter-spacing: 3px;
  word-spacing: 1px;
}

.listCon {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-auto-rows: 310px;

  gap: 15px;
}

.block {
  height: 300px;
  background-color: blue;
}

@media (max-width: 1000px) {
  .listTitle {
    margin: 20px auto;
    font-size: 1.6em;
    letter-spacing: 2px;
  }
}

@media (max-width: 530px) {
  .listTitle {
    font-size: 1.5em;
    letter-spacing: 1px;
  }
}
