.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-auto-flow: column;
  align-items: center;
  gap: 25px;
}

.appImage {
  height: 50px;
}

.appName {
  font-size: 2.8em;
  letter-spacing: 4px;
  align-self: center;
  font-weight: 600;
}

.subTitle {
  color: rgb(85, 85, 85);
  font-size: 1.5rem;
  letter-spacing: 1px;
}

@media (max-width: 1000px) {
  .header {
    gap: 10px;
  }

  .title {
    gap: 17px;
  }

  .appImage {
    height: 40px;
  }

  .appName {
    font-size: 2.4em;
    letter-spacing: 2px;
  }

  .subTitle {
    font-size: 1.3rem;
    letter-spacing: 1px;
  }
}

@media (max-width: 530px) {
  .header {
    gap: 10px;
  }

  .title {
    gap: 12px;
  }

  .appImage {
    height: 35px;
  }

  .appName {
    font-size: 2.2em;
    letter-spacing: 1px;
  }

  .subTitle {
    font-size: 1.2rem;
  }
}
